.header {
    color:#373737;
    text-align:center;
    padding:5px;	
    width: 100% 
}
/* Header is used on both Index1 and Arsenal for the title, so that all of the headers are 
centered, with a certain color */ 

body {
    background-image: url("http://wallpapercave.com/wp/QGj5HZS.jpg" );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
height: 100%;
}
/* This body is used to create the background image */ 

.section {
    text-align: center;
    padding:10px;	 
    color: black; 	 
}
/* It is used to make the text centered and the color black and then the padding around this class*/ 
.About {
    text-align: center; 
}

.Work {
  text-align: center;
}

.section1 {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-top: 30px;
  text-align: center;
  border-top: 4px solid black;

}
/* There is padding all around this section, the text is centered and the border-top makes a black 
line above the class */ 

.section2{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
  text-align: center;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
/* This is the same as section1 however, it has different amounts of padding and has a black line 
going across the bottom of the section */ 

.section3 {
  text-align: center;

}

.section4{
  border-top: 4px solid black;
  background-color: black;
  padding-bottom: 10px;
  border-bottom: : 4px solid black;
  padding-bottom: 20px;
}

.section5{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 5px solid black;
  border-top:5px solid black;

}

.section6{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 5px solid black;

}

h2 {
  text-align: center;
  opacity: 0.75;
}
/* h2 is a standard function and I have made it so that whenever it is used the text is centered and 
that the text is 75% see through */

li {
    list-style: none;

}
/* Since lists can have different list types such as bullet points or numbers, so putting the style as 
none means it doesn't have any list */

.listwidth{
  margin: 0 auto;
  width: 1000px;
}
/* The listwidth is used to set a certain range for any lists associated with listwidth, so that the text 
on the lists don't go all the way to get egde of the page */ 

.li1{
  list-style: disc;
  text-align: left;
  font-size: 20; 
  color: black;
}
/* As li was set to list-style: none;, I made a class which will allow me to make a list with a style, and
make the font size a certain size */

.li2{
  list-style: none;
  text-align: center;
  font-size: 20; 
  color: black;
}
/* This is another type of list I created to make the list centered and the font size 20 */ 

.rand {
    color: black;
    text-align: center;
    font-size: 20; 

}


.footer { 
   position: absolute;
   width:100%;
   height:60px;   /* Height of the footer */
   background-color: black;
   color: white;
   text-align: center;
}
/* This is used for the footer to make it always stay at the bottom of the page, the actaul size of the 
footer and the color being white */

/*.row{
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 15px;
}*/


.imageboard{
   border-width: 5px;   border-color: blue;   border-style: groove;
   height: 300px;
   width: 500px;
   background-color: white;
}
/* I used this class on an image so that I could set a specifc size and have a border around the image, in
case, it is red with a groove style, and the border has the width of 5 pixels */

table {
    font-family: arial, sans-serif;
    font-size: 17.5;
    width: 57%;
    border-collapse: collapse;
    background-color: white;

}
/* This is used for when ever creating a table, so I have set the font to the certain type, a certain size
and the style of the table */ 

.table {
    font-family: arial, sans-serif;
    font-size: 17.5;
    width: 57%;
    border-collapse: collapse;
    background-color: white;

}
/* I use this to make the second table larger */

td, th {
    border: 1px solid #dddddd;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/* This makes every row which is a even number a certain background */ 

tr:nth-child(odd) {
  background-color: white;
}
/* This makes every row which is a odd number a white background */ 

.h3goals {
  background-color: white;
  margin-left:21.5%;
  margin-right: 21.5%;
  color: black;
  border-color: black; border-style: solid;
  border-radius: 5px;
}

.History{
  margin-left:21.5%;
  margin-right: 21.5%;
  color: black;
  font-size: 20;

}
/* How do I create background opacity and not effect the text*/ 

p {
  color: black;
}

.records{

  color: black;
  margin-left:21.5%;
  margin-right: 21.5%;
  padding-top: 10px;
  text-align: center;
}

.main{
  color: red;
  margin-left:21.5%;
  margin-right: 21.5%;
}

.sidebar{
  float: left; 
  width: 20%;
}

.sidebarright{
  float: right; 
  width: 20%;
}

form{
  border-top: 4px solid black;
  font-size: 20;
  text-align: center;
  display: block;
  padding: 10px;
  margin: 0px;

}

form label{
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 5px;
}
